<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" showFlags="Date, Time, Size, Extension, LongDate" />
        <urlCompression doStaticCompression="false" doDynamicCompression="false" />
    </system.webServer>
    <system.web>
        <compilation defaultLanguage="c#" />
    </system.web>
    <system.net>
        <mailSettings>
            <smtp>
                <network defaultCredentials="true" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
